<div class="header-container">
  <div class="logo" (click)="goToHome()"> subscription</div>
  <div class="logout" (click)="logout()">logout</div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Subskart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/item">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vender">venders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/itemselection">Item Selection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/itemssummery">Item Summery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions">Transaction History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/summeryreport">Payment Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detailedreport">Detailed Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userdashboard">User Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detailedreport">Active Subscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detailedreport">User Transactions</a>
        </li>



      </ul>
    </div>
  </nav>
  <!-- other nav bar -->

</div>