<div class="login-container">
    <img class="subskart" src="assets/images/subskart.png" alt="kiran"/>
    <div class="logo">My SubsKart</div>
    <div class="desc">
        KEY TAKEAWAYS
        Subscription businesses involve selling a product or service and collecting recurring revenue for continuing
        to
        provide that service or product.
    </div>
    <div class="login-form">
        <!-- <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="usernameOrEmail" class="form-control" [(ngModel)]="loginObj.usernameOrEmail"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="loginObj.password"/>
        </div> -->
        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>

        </div>
    </div>
</div>