.home-container{
    display: flex;
    .all-subscription{
        width: 150000;
        min-height: calc(100vh - 80px);
        border-right: 1px solid  #fdc827;
        padding: 20px 500px;
        font-family: "Roboto",sans-serif;

    }
    .popular-subscription{
        width: 25;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: "Roboto",sans-serif;
    }
}